<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Svea\NShiftAddon\Observer\CreateStoredShipment">
        <arguments>
            <argument name="storedShipmentService" xsi:type="object">Svea\NShiftAddon\Service\Api\StoredShipment\Proxy</argument>
        </arguments>
    </type>
</config>